/* REMEMBER, THERE IS AN IDEA: YOU CAN USE FO DIFFERENT TYPE OF SCREENS DIFFERENT SIZE 
IMAGES */
body {
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  /* background-color: rgb(44, 42, 56); */
  /* background-image: url(img/seif-amr-UGX0M-c0jww-unsplash.jpg); */
  /* background-size: contain; */
  background-color:  #F0A04B;
  /* color: white; */
  font-size: 18px;
  /* width: 100vw; */
}

video{
  position: absolute;
  width: 100vw;
  top: 0;
  z-index: -10;
}

.container {
  /* z-index: -10; */
  background-color: #FEFBE9;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 9.675% 16% 0 16%;
  box-sizing: content-box;
  /* width: 100%; */
  /* height: 100vh; */
  /* padding: 0 15%; */
}

.nav {
  box-sizing: border-box;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-flow: column wrap;
  width: 100vw;
  height: 95vh;
  /* background-image: url(img/seif-amr-UGX0M-c0jww-unsplash\ \(1\).jpg); */
  /* border: 2.5px black solid; */
  /* border-spacing: 200%; */
  /* background-color: #183A1D; */
  background-image: url("img/ocean/biggest.mp4");
  left: 0;
}

.nav .middle_bar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .middle_bar .heading{
  width: 50%;
  /* height: 90vh; */
  display: flex;
  flex-flow: column ;
  justify-content: center;
  align-items: flex-start;
  /* margin-top: 30%; */
  margin-left: 7%;
  padding: 0;
  font-size: 20px;
  font-style: bold;
  color: aliceblue;
  margin-bottom: 0;
  margin-top: 2%;
  box-sizing: content-box;
}


.heading__head{
  width: 82%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading__head h1{
  font-size: 2.5em;
}


.midle_bar__button{
  width: 83%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading__button{
  background-color: transparent;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: #fff;
  /* opacity: 0.62; */
  font-family: "Gloock";
  /* text-align: center; */
  border-radius: 45px;
  padding: 15px 61px;
  margin: 6% 0 0 0;
  color: black;
  border: white 1.5px solid;
  /* bottom: none; */
  font-size: 1em;
  margin: 1% 0 0 0;
  
  
}

.heading__button:hover{
  background-color: black;
  color: aliceblue;
}

.heading__text{
  width: 84%;
  size: 20px;
  color: aliceblue;
  padding: 0;
}

.search {
  display: flex;
  justify-content: space-between;
  margin: 5% 14% 0 0;
  border-bottom: 1.8px solid black;
  width: 80%;
}

.middle_bar__search{
  background-color: none;
  color: white;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  /* width: 200%; */
  
}

.middle_bar__search::placeholder{
  color: black;
  font-style: normal;
  font-size: 15px;
}

.search__img{
  width: 3.2%;
  height: 3.2%;
}






.nav .map{
  width: 100vw;
  /* position: fixed; */
  margin: 0 0 5% 0 ;
  padding-top: 1%;
  display: flex;
  flex-flow: row wrap;
  background-color:rgba(0, 0, 0, 0.5);
  /* background-color: black; */
  /* opacity: 0.62; */
}

.nav .map .links{
  display: flex;

  justify-content: flex-end;
  /* right: 0; */
  align-items: center;
  margin: 0 0 0 16%;
}

.nav .map .link{
  color: aliceblue;
  text-decoration: none;
  font-size: large;
  margin: 0 5% 0 5%;
}

.nav .map .link:hover{
  /* color: black; */
  border-bottom: 1px white solid;

}



.nav .map .logo{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;  
  padding-left: 10%;
  font-family: "Anton";
  font-size: 33px;
}

.nav .map .logo p{
  color: white;
}








/* add */
/* links' */
/* animation */
/* !!! */













#black {
  color: black;
}

.content__intro {
  min-width: 8%;
  margin: 2% 0 0 0;
}

.content {
  /* width: 99.39%; */
  /* height: 100vh; */
  /* border: black 1.48px solid; */
  /* border-style: dashed; */
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.content_sights {
  /* box-sizing: content-box; */
  /* width: 100%; */
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row nowrap;
  margin: 0 5.1% 0 0;
  left: -1%;
}

/* @media only screen and (max-height:500px){
  .content_sights {
  /* box-sizing: content-box; */
  /* width: 100%; */
  /* list-style: none; */
  /* display: flex;
  flex-flow: column wrap;
  align-items: normal;
  } */
/* } */

.image {
  box-sizing: content-box;
  margin: 10% 1% 4% 1%;
  max-width: 28.5%;
  /* border: 2px black solid; */
  border-radius: 1.89%;
}

.image p {
  padding: 0 1.5%;
  size: relative;

}

/* .image .redsea{
  background-image: url(img/readsea.jpg);
  background-size: cover;
  width: 400px;
  height: 150px;
}

.image .mountain_sight{
  background-image: url(img/mountain_sight.jpg);
}

.image .biking{
  background-image: url(img/biking.jpg);
} */

.image_sights {
  max-width: 100%;
  /* max-height: 100px; */
  box-sizing: content-box;
  flex-grow: 1;
}

.content__nature {
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  box-sizing: content-box;
  width: 90%;
  height: auto;
  margin: 1% 8% 8% 0;
}

.content__nature li {
  /* list-style: none; */
}

.big_img {
  /* flex-shrink: 1; */
  max-width: 100%;
  margin: 0 0 1% 0;
}

/* @media only screen and (min-height:1200px){
    .nav{
        background-image: url(img/headerBig.jpg);
        height: 65vh;
    }
    h1{
        font-size: 3.2em;
    }
} */
