/* REMEMBER, THERE IS AN IDEA: YOU CAN USE FO DIFFERENT TYPE OF SCREENS DIFFERENT SIZE 
IMAGES */
body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0 18% 0 18%;
  /* box-sizing: content-box; */
  /* width: 100%; */
  /* height: 100vh; */
  /* padding: 0 15%; */
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100%; */
  background-image: url(img/seif-amr-UGX0M-c0jww-unsplash\ \(1\).jpg);

  left: 0;
}

h1 {
  font-size: 3em;
  color: aliceblue;
}

#black {
  color: black;
}

.content__intro {
  margin: 4% 0 4% 0;
}

.content {
  /* width: 99.39%; */
  /* height: 100vh; */
  border: black 2.48px;
  border-style: dashed;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

}

.content_sights {
  /* box-sizing: content-box; */
  /* width: 100%; */
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-flow: row wrap;
  margin: 0 5.1% 0 0;
  /* left: -5%; */
}

.image {
  margin: 10% 1% 10% 1%;
  max-width: 27.5%;
  border: 2px black solid;
}

.image p{
  padding: 0 1.5%;
}

.image_sights {
  max-width: 100%;
  /* max-height: 100px; */
  box-sizing: content-box;
  flex-grow: 1;
}

.content_nature{
  list-style: none;
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  width: 50%;
  height: auto;
  margin: 0 8% 0 0;
} 

.content_nature li{
  /* list-style: none; */
}

.big_img{
  flex-shrink: 1;
  max-width: 100%;
}

/* @media only screen and (min-height:1200px){
    .nav{
        background-image: url(img/headerBig.jpg);
        height: 65vh;
    }
    h1{
        font-size: 3.2em;
    }
} */
