* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/background.png);
  background-position: center;
  background-size: cover;
}


/* For building a fixed layout site you should use:
<meta name="viewport" content="width=600px">
and 
body{
  min-width:600px;
} */


.container {
  /* margin-left: 00px; */
  width: 100%;
  height: 100vh;
  
  padding: 0 8% 0 8%;
  box-sizing: border-box;
  /* It would make the child stay in the parent container */
}

@media (max-width:1350px) {
  /* .container{
    max-width: 970px;
  } */
  
  /* .card .card1 {
    max-width: 200;
    max-height: 210;
  } */
 }



 @media (max-width:1200px) {
  .container{
    max-width: 830px;
    margin-left: 10%;
    
  }
  
 }

@media (max-width:992px) {
  .container{
    max-width: 750px;
  }
}

@media (max-width:767px) {
  .container{
    max-width: none;
  }


}  */

.navbar {
  height: 12;
  display: flex;
  align-items: center;
}

.logo {
  margin-top: 15px;
  width: 50px;
  cursor: pointer;
}
.menu-icon {
  width: 30px;
  cursor: pointer;
  margin-left: 40px;
}

table {
  flex: 1;
  text-align: right;
}

nav table tr th {
  list-style: none;
  /*  */
  display: inline-flexbox;
  margin-left: 20%;
}



nav table tr th a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  margin-left: 50px;
  margin-top: 0;
}

/* DONOT FORGET ABOUT SPACE NAV */
#space {
  width: 75%;
}

.row {
  column-width: 40%;
  height: 88%;
  align-items: center;
}

.col {
  columns-width: 200px;

  /* flex-basis: 50%; */
  /*CSS свойство flex-basis задаёт базовый размер флекс 
  элемента по основной оси. Это свойство определяет размер контент-бокса, если не задано 
  иначе через box-sizing.*/
}

h1 {
  color: #fff;
  font-size: 100px;
}

p {
  color: #fff;
  font-size: 11px;
  line-height: 15px;

  
}

/* @media (max-width:100px){
  p{
    text-align: center;
    max-width: 200px;
  }

} */

button{
  width: 180px;
  color: #000;
  font-size: 12px 0;
  background: #fff;
  border: 0;
  margin-top: 20px;
  padding: 10px 5px 10px 5px;
  border-radius: 20px;
   outline: none; /*kontur of border */
  /* DO NOT FORGET ABOUT FLEXBASIS     ----''''  AND Lorem ipsumtext*/
  /* Box-sizing makes an element staying directly inside of the parent elemnt */
}


.card{
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  cursor: pointer;
  margin: 10px 15px;
  background-image: url(img/pic-1.png);
  background-position: center;
  background-size: cover;
  /*bg-size cover makes an image of bg cover whole page  */
  transition: transform 0.5s;

  
}

.card:hover{
  transform: translateY(-10px);
  /* transform and transition are binded here */
}

.card1{
  background-image: url(img/pic-1.png);
}

.card2{
  background-image: url(img/pic-2.png);
}

.card3{
  background-image: url(img/pic-3.png);
}

.card4{
  background-image: url(img/pic-4.png);
}

 /* @media (max-width:1200px) {
  .card1 .card2 .card3 .card4{
    
  }
}

@media (max-width:992px) {
 
}

@media (max-width:767px) {
  


}  */


h5{
  color: #fff;
  text-shadow: 0 0 5px #999;   /*to the left, smth, blurring, color*/
  /*  */
}

.card p{
    text-shadow: 0 0 15px #000;   /*to the left, smth, blurring, color*/
  font-size: 8px;
}




/* 5^40 */
